<div class = "container">

<h1>Folio</h1>
<h2>a place for artists</h2>
<br>
<br>
<h4>featured artists</h4>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td></td>
        <td><%= link_to user.username, user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user == User.first  %>


<table>
  <thead>
    <tr>
      <th>Email</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
          <%= render '/pictures/list', user: user %>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user_path(user.id) %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
</div>
