<div class="container">
  <div class="<%= @user.get_color_scheme %> ">

  <% if @user.background_picture %>
    <style>
      body.homepage {
        background-image: url(<%= @user.background_picture.url %>)
      }
    </style>
  <% end %>

  <p id="notice"><%= notice %></p>

  <p>
    <div class="<%= @user.get_fonts_choice %> ">
    <h2>
    <%= @user.username %></h2>
</div>
</p>

<p>
  
  <%= @user.slug_line %>
</p>


<p>
  <%= render '/pictures/list', user: @user %>
</p>

<p>
  <%= render '/posts/featured', user: @user %>
</p>


<br>
<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Add picture', new_picture_path(@user) %>
<%= link_to 'Add post', new_post_path(@user) %>

<% end %>
</div>
</div>
</div>
