<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Username:</strong>
  <%= @user.username %></h2>
</p>

<p>
  <strong>Slug line:</strong>
  <%= @user.slug_line %>
</p>

<p>
  <%= render '/pictures/list', user: @user %>
</p>

<p>
  <%= render '/posts/list', user: @user %>
</p>

 |
<%= link_to 'Back', users_path %>
<br>
<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Add picture', new_picture_path(@user) %>

<% end %>

