<p id="notice"><%= notice %></p>

<p>
  <h2><strong>Username:</strong>
  <%= @user.username %></h2>
</p>

<p>
  <strong>Slug line:</strong>
  <%= @user.slug_line %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


